*{
    margin: 0;
    padding: 0;
}

body{
    background: #222;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;

}
.head p{
    margin: 30px 0;
    font-size: 20px;
    padding: 7px;
}

.elguettcruds{
    width: 80%;
    margin: auto;
}

input{
    width: 100%;
    height: 30%;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    /*text-align: center;*/
    color: #fff;
}

input:focus{
    background: #000;
    transform: scale(1.1);
}

.price input{
    width: 20%;
}

#total{
    background: #aa0e03;
    padding: 4px 2px;
    border-radius: 4px;
}

#total::before{
    content: 'Total: ';
}

button{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    background: #3507db;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
    
}

button:hover{
    background: #1b025f;
    letter-spacing: 5px;
    
}

.btnsearch{
    display: flex;
    justify-content: space-between;
}

.btnsearch button{
    width: 45%;
}

.btnsearch button:hover{
    letter-spacing: 1px;
}

#lstp{
    text-align: center;
    margin: 5px auto;
    
}

table{
    width: 100%;
    text-align: center;
    
}

table button:hover{
    letter-spacing: normal;
}

#delete, #update{
    background: #150355;
}
#delete:hover{
    background: #3507db;
}
#update:hover{
    background: #3507db;
}



table th{
    text-transform: uppercase;
    padding-bottom: 5px;
    
    
}
th,td{
    padding: 1px;
    
}
